{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('account_home') }}">Personal Information</a></li>
        <li><a class="active" href="{{ url_for('account_change_password') }}">Change Password</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Change Your Password</h2>
<div class="little_post">
    <form method="post">
        <label for="actual_password">Current Password</label>
        <input class="input" type="password" name="actual_password" placeholder="Enter your current password" value="{{ request.form['actual_password'] }}" required>
        
        <label for="new_password">New Password</label>
        <input class="input" type="password" name="new_password" placeholder="Enter your new password" value="{{ request.form['new_password'] }}" required>
        
        <label for="verif_new_password">Confirm New Password</label>
        <input class="input" type="password" name="verif_new_password" placeholder="Confirm your new password" value="{{ request.form['verif_new_password'] }}" required>
        
        <button class="button" type="submit">Update Password</button>
    </form>
</div>
{% endblock %}