{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('account_home') }}">Personal Information</a></li>
        <li><a class="active" href="{{ url_for('account_change_email') }}">Change Email</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Change Your Email</h2>
<div class="little_post">
    {% if user_has_email %}
        <p style="margin-bottom: 20px;">Your current email: <strong>{{ email }}</strong></p>
    {% endif %}
    
    <form method="post">
        <label for="email">New email</label>
        <input class="input" type="email" name="email" placeholder="Enter an email" value="{{ request.form['email'] }}" required>
        
        <button class="button" type="submit">Update Email</button>
    </form>
</div>
{% endblock %}