{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('account_home') }}">Personal Information</a></li>
        <li><a class="active" href="{{ url_for('account_change_username') }}">Change Userame</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Change Your Name</h2>
<div class="little_post">
    <p style="margin-bottom: 20px;">Your current username: <strong>{{ username }}</strong></p>
    
    <form method="post">
        <label for="new_username">New Username</label>
        <input class="input" type="text" name="new_username" placeholder="Enter your new username" value="{{ request.form['new_username'] }}" required>
        
        <button class="button" type="submit">Update Username</button>
    </form>
</div>
{% endblock %}