{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a class="active" href="{{ url_for('account') }}">Personal Information</a></li>
        <li><a href="{{ url_for('account_change_name') }}">Change Name</a></li>
        <li><a href="{{ url_for('account_change_password') }}">Change Password</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Your account</h2>
<div class="post">

    <div class="profile-pic-container">
        <img class="profile-pic-big" src="{{ url_for('profile_picture', user_id=id) }}" alt="Profile Picture">
    </div>
    
    <h3>Account Details</h3>
    <pre>ID      : {{ id }}
Name    : {{ name }}
Balance : {{ pay }} $</pre>
    <hr>
    
    <div class="form-actions">

        <p>Upload a profile picture</p>
        <form action="{{ url_for('upload_profile_picture') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="profile_picture" accept="image/*" max-size="5242880" required>
            <br>
            <button class="button" type="submit">Upload a profile picture</button>
        </form>

        <hr>

        <p>Export your Data</p>
        <form action="{{ url_for('export_data') }}" method="POST">
            <button class="button" type="submit">Export Data</button>
        </form>

        <hr>
        
        <p>Delete your account</p>
        <form action="{{ url_for('delete_account') }}" method="POST" class="delete-action">
            <button class="button_red" type="submit" onclick="return confirm('Are you sure? This action cannot be undone.')">Delete Account</button>
        </form>
    </div>

    <p class="terms-footer">Je souhaites accéder au <a href="{{ url_for('conditions_uses') }}" target="_blank">CGU</a></p>
    
</div>
{% endblock %}