<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titou Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!--
    <div class="header-home-icon">
        {% if 'id' in session %}
        <a href="{{ url_for('home') }}" class="home-icon">
          <img class="home-icon-pic" src="{{ url_for('static', filename='icon/home.svg') }}" alt="home">
        </a>
        {% endif %}
    </div>
    -->
    <div class="header-profile">
        {% if 'session_id' in session %}
        <a href="{{ url_for('account_home') }}" class="profile-link">
          <img class="profile-pic" src="{{ url_for('profile_picture', user_id=id) }}" alt="Profile Picture">
        </a>
        {% endif %}
    </div>
    <div class="content">
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
