{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a class="active" href="{{ url_for('edit_post', id_post=post['id_post']) }}">Edit Post</a></li>
        <li><a href="{{ url_for('chatroom') }}">View Posts</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Edit "{{ post['title'] }}"</h2>
<div class="post">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="title">Post Title</label>
        <input class="input" type="text" name="title" placeholder="Enter post title" value="{{ request.form['title'] or post['title'] }}" required>
        
        <label for="content">Post Content</label>
        <textarea class="textarea" name="content" placeholder="Write your post content here..." required>{{ request.form['content'] or post['content'] }}</textarea>
        
        <button class="button" type="submit">Save Changes</button>
    </form>
    
    <hr>
    
    <div class="form-actions">
        <form action="{{ url_for('delete_post', id_post=post['id_post']) }}" method="POST" class="delete-action">
            <button class="button_red" type="submit" onclick="return confirm('Are you sure? This action cannot be undone.')">Delete Post</button>
        </form>
    </div>
</div>
{% endblock %}