{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('settings_home') }}">Back to Settings</a></li>
    </ul>
</nav>

<h2>Notifications</h2>
<div class="post">
    
    <div class="form-actions">
        <script src="{{ url_for('static', filename='js/auto_submit_checkbox.js') }}" defer></script>
        <h4>Security alerts</h4>
        <p>Notify me when:</p>
        <form action="{{ url_for('settings_notify_password_change') }}" method="post" class="auto-submit-form">
            <label>
                <input type="checkbox" name="notify_password_change" class="auto-submit-checkbox"
                    {% if notify_password_change %}checked{% endif %}>
                My password changes
            </label>
        </form>

        <form action="{{ url_for('settings_notify_twofa_change') }}" method="post" class="auto-submit-form">
            <label>
                <input type="checkbox" name="notify_twofa_change" class="auto-submit-checkbox"
                    {% if notify_twofa_disabled %}checked{% endif %}>
                Two-Factor Authentication is disabled
            </label>
        </form>

    </div>
</div>
{% endblock %}