{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a class="active" href="{{ url_for('personal_information') }}">Personal Information</a></li>
        <li><a href="{{ url_for('change_name') }}">Change Name</a></li>
        <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<h2>Your Information</h2>
<div class="post">
    <h3>Account Details</h3>
    <pre>ID      : {{ id }}
Name    : {{ name }}
Balance : {{ pay }} $</pre>
    <hr>
    
    <div class="form-actions">

        <p>Export your Data</p>
        <form action="{{ url_for('export_data') }}" method="POST">
            <button class="button" type="submit">Export Data</button>
        </form>

        <hr>
        
        <p>Delete your account</p>
        <form action="{{ url_for('delete_account') }}" method="POST" class="delete-action">
            <button class="button_red" type="submit" onclick="return confirm('Are you sure? This action cannot be undone.')">Delete Account</button>
        </form>
    </div>
</div>
{% endblock %}