{% extends 'base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a class="active" href="{{ url_for('social_network_home') }}">Social-Network</a></li>
        <li><a href="{{ url_for('social_network_friends') }}">Friends</a></li>
        <li><a href="{{ url_for('home') }}">Back to Home</a></li>
    </ul>
</nav>

<section id="intro" class="mid">
    <div id="not-media">
        <h3>What is Titou SN</h3>
        <p>Titou Social-Network or TSN is a social networking service for making friends, chatting, and meeting people.
        It is based on the same principle as all other social networks.</p>
    </div>
</section>

{% endblock %}